@import url("font.css");
.body {
    background-color: #ffffff;
    font-family: RobotoSlab-Regular;
    padding: 10px;
    scroll-behavior: smooth;
}

.heading {
    font-size: 40px;
    margin: 20%;
}

.border {
    margin: 10%;
    width: 80%;
    height: 40%;
    border-radius: 5%;
    padding: 08%;
}

.btn {
    background-color: #28B2FC;
    color: black;
}

a {
    text-decoration: none !important;
}

input:hover {
    border-color: #0097e6;
}

.fas {
    color: #0097e6;
}

.padding {
    padding-top: 80px;
}

.panel {
    background-color: #ffffff;
    color: black;
}

.btn-panel {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 17.6px;
    font-weight: 500;
    border-radius: 18px;
    text-align: center;
    margin: 3%;
    padding: 3%;
    padding-right: 15%;
}

.btn-panel:hover {
    background-color: #ffffff;
    border: 2px solid #b2bec3;
}

.panel-fa {
    color: #636e72;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}

.container-filter {
    margin-top: 20px;
    overflow: hidden;
}

span {
    color: red;
    font-size: 15px;
}

label {
    font-weight: 600    ;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #2c3e50;
}

.btn-menu {
    text-decoration: none;
    border: 2px solid #0097e6;
    background-color: #0097e6;
    color: #ffffff;
    border-left-width: 20px;
    border-right-width: 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    text-align: center;
}

.btn-menu:hover {
    color: black;
}

.home-textarea {
    height: 100%;
    width: 80%;
    text-align: center;
    font-weight: 500;
    resize: none;
}

table{
    border: 3px solid #2c3e50;
    border-collapse: collapse;
    width: 100%;
}

th, td, tr {
    height: 50px;
}

.profile-border {
    border: 2px solid #636e72;
    margin: 0;
    width: 50%;
    height: auto;
    padding: 01%;
}
